.head-1 {
display: flex;
align-items: center;
color: brown;
justify-content: center;
background-image: url(./images/chicago-nighttime.jpg);
background-size: cover;
font-size: 60px;
text-decoration: overline;
font-family: serif;
padding: 60px;


}

.banner {
    display: flex;
}



.DLB-1 {
    margin-left: 25px;
float: right;
display: list-item;
text-align: -webkit-match-parent;
display: flex;

}


.DLB-2 {
margin-left: 25px;
float: right;
display: list-item;
text-align: -webkit-match-parent;
display: flex;
color: brown;

}





.DLB-3 {
    margin-left: 25px;
    float: right;
    display: list-item;
    text-align: -webkit-match-parent;
    display: flex;
}


.jumbotron {

background-color: black;

}

.lead-2 {
    font-size: 18px;
    font-weight: bold;
    color: ghostwhite;

}

.Pgraph-2 {
    font-size: 18px;
    font-weight: bold;
    color: ghostwhite;

}

.lead {
    font-size: 18px;
    font-weight: bold;
    color: ghostwhite;
}

.form-inline {
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;


}

#body-1 {
display: flex;
flex-direction: column;
font-size: 16px;
line-height: 1.5;
background-color: gray;

}

/* 
.banner {
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center; 
    border-radius: 30px;
    box-shadow: 20px 20px 20px grey;
    height: 800px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
} */

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.login-1 {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 50px;

}

.display-4 {

 background-image: url(./images/downtown.jpg);
 
 padding: 250px;

}